*{
    margin: 0px;
}

body{
    background-color: #1A1A1A;
    font-family: 'Barlow';
    padding: 0px 100px;
}

header{
    padding: 20px 0px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.space-btw{
    justify-content: space-between;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.logo{
    background-color: #9EFF00;
    border-radius: 9px;
    padding: 10px;
    height: 43px;
    width: 38px;
}

.logo-name{
    height: 20px;
}
.g-6{
    gap: 6px;
}
.g-10{
    gap: 10px;
}
.g-13{
    gap: 13px;
}
.g-20{
    gap: 20px;
}
.g-30{
    gap: 30px;
}

.f-18{
    font-size: 18px;
    font-weight:600;
}
.f-22{
    font-size: 18px;
    font-weight:600;
}
.f-68{
    font-size: 68px;
    font-weight:600;
}
.t-white{
    color: white;
}
.t-gray{
    color: #98989A;
}

.btn-primary{
    background-color: #9EFF00;
    padding: 16px 24px;
    border: none;
    border-radius: 8px;
}

.btn-secondary{
    background-color: #242424;
    padding: 16px 24px;
    border: 1px solid #333333;
    border-radius: 8px;
}

.text-center{
    text-align: center;
}

.highlight{
    padding: 12px 14px;
    background-color: #262626;
    border-radius: 8px;
}

.hero{
    height: 630px !important;
    background-image: url('./../assets/images/hero_background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 440px;
    background-size:100%;
    border: 1px solid #333333;
}

.hero h1{
    width: 800px;
}

.testimonials img{
    height: 40px;
    padding: 40px 0px;
}

.justify-evenly{
    justify-content: space-evenly;
}

.badge{
    position: absolute;
    background-color: #1A1A1A;
    padding: 20px 34px;
    border: 1px solid #333333;
    border-radius: 100px;
    bottom: 12px !important;
}

.navbar-desktop{
    display: flex;
}

.navbar-mobile{
    display: none;
}

.testimonials-mobile{
    display: none;
}

/* .hero */

@media (min-width: 1024px) and (max-width: 1440px) {
    .hero{
        height: 100vh;
        background-image: url('./../assets/images/hero_background.png');
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 280px;
        background-size:100%;
        border: 1px solid #333333;
    }

    .badge{
    position: absolute;
    background-color: #1A1A1A;
    padding: 20px 34px;
    border: 1px solid #333333;
    border-radius: 100px;
    bottom: -130px;
}

}

@media screen and (max-width:430px) {
    body{
        padding: 0px 10px;
    }
    .navbar-desktop{
        display: none;
    }

    .navbar-mobile{
        display: flex;
    } 
   
    .testimonials{
        display: none;
    }
    
    .testimonials-mobile{
        display: grid;
    }
    .f-68{
        font-size: 34px;
    }

    .grid-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .highlight{
        padding: 0px;
        background-color: transparent;
        border-radius: 8px;
        color: #98989A;
    }
    .hero h1{
        width: 100%;
    }

    .hero p{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .hero{
        height: 100vh;
        background-image: url('./../assets/images/hero_background.png');
        background-repeat: no-repeat;
        background-position: contain !important;
        border: 1px solid #333333;
    }
}